.footer {
    padding: 20px 10px 10px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    background-color: #f8f8f8;
    gap: 30px
}

.footer-section {
    flex: 1;
}

.footer-section h3,
.footer-section h4 {
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-section p {
  line-height: 1.6;
  color: #555;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: rgb(45, 152, 168);
}

.footer-contact p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.footer-contact h4 {
  margin-bottom: 15px;
}

.footer-social-links a {
  margin-right: 15px;
  font-weight: 600;
}

.footer-bottom {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-bottom p {
  margin: 0px;
  font-size: 14px;
  color: #555;
}

.footer-bottom a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}